TELEGRAM_TOKEN=your_bot_token_here
TELEGRAM_ALLOWED_USER_ID=your_numeric_id_here
PASSPHRASE=your_strong_passphrase_here
TLS_BASE_URL=https://visas-pt.tlscontact.com
CHROME_BIN=/usr/bin/google-chrome
CHROME_USER_DATA=/home/yourusername/.config/google-chrome
CHROME_PROFILE=tls-work
HEADLESS=true
CONTROL_PORT=7432
TZ=Africa/Algiers
MIN_DELAY_MINUTES=5
MAX_DELAY_MINUTES=25
