TELEGRAM_TOKEN=8362293388:AAFWYAozBBlsZM2aNvPTy10KLdjo5G-qDWE"
TELEGRAM_ALLOWED_USER_ID=8092143549
PASSPHRASE=
TLS_BASE_URL=http://localhost:8080
CHROME_BIN=/usr/bin/google-chrome
CHROME_USER_DATA=/home/samsepi0l/.config/google-chrome
CHROME_PROFILE=tls-work
HEADLESS=true
CONTROL_PORT=7432
TZ=Africa/Algiers
MIN_DELAY_MINUTES=5
MAX_DELAY_MINUTES=25
